a,
.mainText a {
  color: #1c205d;
  background: none;
}

a:hover {
  color: #2f46ff;
}

.mainShadow {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.mainPaddingAllSides {
  padding: 1rem;
}

.mainContent {
  font-family: 'Crimson Text', serif;
}

.mainHeading {
  font-family: 'Tangerine', cursive;
}

.mainText {
  background: -webkit-linear-gradient(right, #edce8e, #b09053);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*radio buttons*/
[type='radio']:checked + span:after {
  background-color: #b09053;
  border: 2px solid #b09053;
}

[type='radio']:not(:checked) + span:before,
[type='radio']:not(:checked) + span:after {
  border: 2px solid #b09053;
}

[type='radio'].with-gap:checked + span:after {
  background-color: #b09053;
  border: 2px solid #b09053;
}

/*text inputs*/
.input-field {
  position: static;
}

.input-field > label {
  position: static;
  font-size: 1.25rem;
  color: #edce8e;
}

select {
  display: block;
}
