a,
.mainText a {
  color: #0a4580;
  background: none;
}

a:hover {
  color: #2f46ff;
}

.mainShadow {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.mainPaddingAllSides {
  padding: 1rem;
}

.mainContent {
  font-family: 'Crimson Text', serif;
}

.mainHeading {
  font-family: 'Tangerine', cursive;
}

.mainText {
  background: -webkit-linear-gradient(right, #edce8e, #b09053);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
