.page-header-text {
  font-weight: 700;
  font-size: 4rem;
}

.forms-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.forms-container form {
  margin-bottom: 2.25rem;
}

.confirmation-form label {
  color: #edce8e;
}

.confirmation-form label .radio-button-text {
  font-size: 1.25rem;
}

.names-entry-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.names-entry-form label {
  position: relative;
}

@media (min-width: 900px) {
  .page-header-text {
    margin-top: 0;
  }

  .names-entry-form {
    flex-direction: row;
  }
}
