.page-header-text {
  font-weight: 700;
  font-size: 4rem;
}

.confirmation-form label {
  color: #edce8e;
}

.confirmation-form label .radio-button-text {
  font-size: 1.25rem;
}

.names-entry-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.names-entry-form label {
  position: relative;
}

@media (min-width: 900px) {
  .page-header-text {
    margin-top: 0;
  }
}
